@use './partials/font' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/global.scss' as *;

.table-padding {
    padding: 1rem;
    @include tablet {
        padding: 1.5rem 1.125rem;
    }
}

.hero {
    background-image: url(../assets/Images/hero-shows.jpg);
    // min-height: 55vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include tablet {
        height: 45vh;
    }
    @include desktop {
        height: 50vh;
        background-position: 50% 25%;
    }

    &__overlay {
        background-color: #32323280;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__wrapper {
        @include flexbox(column);
        width: 100%;
        padding: 2rem 0;
        @extend .wrapper;
        @include desktop {
            @include flexbox();
            justify-content: space-between;
        }
    }
    &__text {
        color: $primary-white;
        max-width: 15rem;
        @extend .padding-bottom;
        @include tablet {
            max-width: 31.25rem;
        }
    }
    &__sound {
        width: 100%;
        @include tablet {
            max-width: 28.125rem;
        }

        @include desktop {
            align-self: center;
        }
    }
}
.shows {
    &__wrapper {
        @extend .wrapper;
    }
    .table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        text-align:left;
        vertical-align: center;
        &__header {
            tr {
                display: none;
                @include tablet {
                    display: table-row;
                }
                th {
                    @extend .table-padding;
                }
            }
        }
        &__body {
            .table__row {
                @extend .table-padding;
                border-bottom: 1px solid $secondary-mercury;
                &:hover {
                    background-color: $secondary-alabaster;
                }
                td {
                    @extend .table-padding;
                    display: block;
                    width: 100%;
                    @include tablet {
                        display: table-cell;
                        width: auto;
                    }
                    &:before {
                        @extend .label-btn;
                        content: attr(data-label);
                        display: block;
                        @extend .padding-bottom;
                        @include tablet {
                            display: none;
                        }
                    }
                    .btn {
                        width: 100%;
                        @include tablet {
                            width: auto;
                        }
                    }
                }
            }
            .table__date {
                font-weight: 600;
            }
        }
    } 
}
